<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../assets/css/user.css" />
        <title>User</title>
    </head>
    <body>
        <div class="main">
            <img src="./Assets/img/user.png" alt="user.png" />
            <h1>{{username}}</h1>
            <h3>{{bio}}</h3>
            <h4>{{email}}</h4>
            <p>Followers: 1000</p>
        </div>
    </body>
</html>