<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../assets/css/signup_login.css" />
        <title>SignUp</title>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="main">
            <form action="/signup" method="post">
                <a href="/"><h1>Instagram SignUp</h1></a>
                <div class="form-main">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Enter your Name"
                        required
                    />

                    <label for="username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter your Username"
                        required
                    />

                    <label for="email">Email</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter your Email"
                        required
                    />

                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Enter your Password"
                        required
                    />

                    <label for="bio">Bio</label>
                    <input
                        type="text"
                        name="bio"
                        id="bio"
                        placeholder="Enter your Bio"
                        required
                    />
                </div>
                <button type="submit" value="submit">Sign Up</button>
                <div class="forgotpasswordlogin">
                    <a href="#"><p>Forgot Password?</p></a
                    ><a href="/login"><p>Log In</p></a>
                </div>
            </form>
        </div>
    </body>
</html>
