* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 10px;
    background-color: #edf1fd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover {
    color: #129b9b;
}

button {
    background-color: #129b9b;
    padding: 4px 10px;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

nav .logo {
    font-weight: 900;
    font-size: 30px;
    cursor: default;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
    font-weight: 900;
}

.search-field {
    display: flex;
    gap: 35px;
}

input {
    padding: 4px 10px;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.hero-left-section {
    margin: 0 100px;
}

.hero-left-section h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600 ;
}

.hero-left-section h1 span {
    color: #129b9b;
    font-weight: 900;
    font-size: 55px;
    background-color: #dfdfdf;
}

.hero-left-section p {
    font-weight: 500;
}

.hero-left-section p span{
    font-weight: 700;
    font-size: 25px;
    color: #129b9b;
}

.hero-right-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.hero-right-section-btns {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-right-section img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid black ;
}

footer {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    justify-content: space-around;
}

footer p {
    font-weight: 600;
}

footer ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

footer ul li a i {
    font-size: 25px;
    text-decoration: none;
    color: #000000;
}

footer ul li a i:hover {
    color: #129b9b;
    text-decoration: solid underline #129b9b 2px;
}